*{
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;900&display=swap');

:root {
    --second-color: #EE7F43;
    --primary-color: #000;
    --font-rum-raisin: 'Rum Raisin', sans-serif;
    --font-code-pro: 'Source Code Pro', monospace;
}

.content-1440px{
    max-width: 1440px;
    margin: auto;
}

ul{
    list-style: none;
    padding-left: 0;
}

a{
    text-decoration: none;
}

p{
    font-family: var(--font-code-pro);
    font-weight: 400;
}

.btn-orange{
    color: #fff;
    border: 1px solid var(--second-color);
    background-color: var(--second-color);
    padding: 10px 30px;
    font-family: var(--font-serif-4);
    font-weight: 900;
    transition: all 0.2s;

}

.btn-orange:hover{
    transform: scale(1.2);
    transition: all 0.2s;
    background: none;
    border: 0px;
    color: burlywood;
}

.lien-orange{
    font-size: 24px;
    color: var(--second-color);
    font-family: var(--font-code-pro);
    font-weight: 400;
    margin-bottom: 10px;
}

/* HEADER */

header{
    max-width: 1440px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

nav{
    align-items: center;
    display: flex;
}

nav ul{
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 24px;
}

nav a{
    color: var(--primary-color);
    transition: transform 0.5s ease-in-out;
    transition: all 0.2s;
}

header > nav > ul > li:nth-child(1) > a:hover{
    color: var(--second-color);
    transform: rotate(3.5deg);
    transition: all 0.2s;
    display: block;
}

header > nav > ul > li:nth-child(3) > a:hover{
    color: var(--second-color);
    transform: rotate(3.5deg);
    transition: all 0.2s;
    display: block;
}

header > nav > ul > li:nth-child(2) > a:hover{
    color: var(--second-color);
    transform: rotate(-3.5deg);
    transition: all 0.2s;
    display: block;
}

header > nav > ul > li:nth-child(4) > a:hover{
    color: var(--second-color);
    transform: rotate(-3.5deg);
    transition: all 0.2s;
    display: block;
}


/* FOOTER */

footer{
    background-color: var(--primary-color);
}

footer p{
    color: #fff;
    padding: 30px;
    text-align: center;
    font-size: 22px;
}

footer a{
    color: #fff;
    text-decoration: underline;
}

/* MAIN */

/* SECTION 1 */

#section-1 a{
    color: var(--second-color);
}

h1{
    font-family: var(--font-rum-raisin);
    font-size: 36px;
    font-weight: 400;
    line-height: 46px;
    text-align: center; 
    background-color: rgba(255, 255, 255, 1);
    padding: 30px 45px;
    box-shadow: 0px -9px 4px 3px rgba(0, 0, 0, 0.25);
}

.img-bgc{
    background-image: url(/img/01\ \(1\).png);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-bottom: 40px;
}

#section-1 p{
    margin-bottom: 20px;
    font-family: var(--font-code-pro);
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}